<?xml version="1.0" encoding="UTF-8"?>
<Chords UTT1_mode="{{ mode_1 }}" UTT1_maj="{{ major_interval_1 }}" UTT1_min="{{ minor_interval_1 }}" UTT1_name="{{ name_1 }}" UTT2_mode="{{ mode_2 }}" UTT2_maj="{{ major_interval_2 }}" UTT2_min="{{ minor_interval_2 }}" UTT2_name="{{ name_2 }}" isValidGraph="{{ isValidGraph }}">
{% for row in d_graph %}
	{% for colNode in row %}
		<ChordNode chordName="{{colNode.chordName}}" xIndex="{{colNode.xInd}}" yIndex="{{colNode.yInd}}">
			<Pitches>
		{% for p in colNode.chord.pitches %}
				<Pitch>{{p.pitchClass}}</Pitch>{% endfor %}
			</Pitches>
			<Neighbors>
		{% for n in colNode.neighbors %}
				<Neighbor xIndex="{{n.0.0}}" yIndex="{{n.0.1}}" distance="{{n.1}}" identifier="{{n.2}}"/>{% endfor %}
			</Neighbors>
		</ChordNode>
	{% endfor %}	
{% endfor %}
</Chords>